html, body{
    background-image: url(img/background.png);
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    cursor: url(img/crosshair.png), auto;
}
.enemy-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    cursor: url(img/crosshair.png), auto;
}

img.enemy{
    height: 320px;
    width: 230px;
    
}
div.crosshair {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px; border: 0px; 
    background: transparent; 
    position: absolute;
}
div.crosshair img{
    height: 100px;
    width: 100px;
}
img.ak47{
    height: 240px;
    width: 750px;
    padding-left: 50%;
    transform: scale(1.7);
    cursor: inherit;
}